/cj.studio.network.corelib/build/
/.gradle/
/cj.studio.network.node/build/
/cj.studio.network.peer/build/
/cj.studio.network.nodestart/build/
/cmdtools/network/logs/
/cmdtools/network/logs/
/cmdtools/peer/logs/
/logs/
